$common-accent         = #FF9940;
$common-bg             = #FAFAFA;
$common-fg             = #6C7680;
$common-ui             = #959DA6;

$syntax-tag            = #55B4D4;
$syntax-func           = #F2AE49;
$syntax-entity         = #399EE6;
$syntax-string         = #86B300;
$syntax-regexp         = #4CBF99;
$syntax-markup         = #F07171;
$syntax-keyword        = #FA8D3E;
$syntax-special        = #E6BA7E;
$syntax-comment        = #ABB0B6;
$syntax-constant       = #A37ACC;
$syntax-operator       = #ED9366;
$syntax-error          = #F51818;

$ui-line               = #959DA61A;
$ui-panel-bg           = #FFFFFF;
$ui-panel-shadow       = #56606940;
$ui-panel-border       = #F0F0F0;
$ui-gutter-normal      = #959DA666;
$ui-gutter-active      = #959DA6CC;
$ui-selection-bg       = #EDF0F5;
$ui-selection-inactive = #F2FAF7;
$ui-selection-border   = #E5EBF2;
$ui-guide-active       = #959DA6B3;
$ui-guide-normal       = #959DA64D;

$vsc-added             = #99BF4D;
$vsc-modified          = #709ECC;
$vsc-removed           = #F27983;
